.Header {
    color:slategrey;
    text-align: center;
    display: block;
    margin: 0, auto;

}

p {
    margin-left: auto;
    padding-left: 10px;
}

li {
    margin-left: auto;
    padding: 10px;
}

a {
    margin: auto;
    padding: 10px;
}

.top_links {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
}

.content {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}